.component{
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(189, 182, 182);
    text-align: center;
    align-items: center;
}   

.container {
    border: 1px solid #e78484;
    border-radius: 8px;
    padding: 15px;
    background-color: rgb(32, 31, 31);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin: 8%;
}

.box{
    width: 60%;
    height: 50%;
    border: 2px solid rgb(245, 22, 22);
}